<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="www.thymeleaf.com"   xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>当当网商品展示页面</title>
    <link href="css/global.css" rel="stylesheet" type="text/css" />
    <link href="css/layout.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="js/axios.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/product.js"></script>
</head>
<body>

<!--头部iframe引入-->
<div id="header">
    <iframe th:replace="header.html" height="155px" width="960px" frameborder="0"></iframe>
</div>

<!--中间部分开始-->
<div id="main">
    <div class="dd_index_top_adver"><img src="images/dd_index_top_adver.jpg" alt="通栏广告图片" /></div>
    
    <div class="current_place" th:each="book : ${booktype}">您现在的位置：
    	<a th:href="index">当当图书</a> &gt;&gt; 

    	<!-- <input type="hidden" name="id" th:value="*{commodity.id}" />
    	<a th:href="'product?btId=' + ${book.btId}" th:text="${book.btName}">小说 </a>&gt;&gt; 
    	<a th:text="${book.btName}">财经</a> -->

    	<a>小说 </a>&gt;&gt; 
    	<a>财经</a>
    	<!-- <a th:if="${book.btPid} == null" th:text="${book.btName}">小说 </a>&gt;&gt; 
    	<a th:if="${book.}" th:text="${book.btName}">财经</a> -->
    </div>
    
    <!--左侧菜单开始-->
    <div id="product_left" th:each="book : ${findByBtid2}">
        <div id="product_catList" >
            <div class="product_catList_top">浏览同级分类</div>
            <div id="product_catList_class">
            	<li> 
            		<a href='#' class='blue' th:text="${book.btName}"></a>
            	</li>
            	<!--使用javaScript显示图书分类-->
            </div>
        </div>
        <div class="product_catList_end">
            <img  src="images/product_01.gif" alt="shopping"/>
            <img src="images/product_02.gif" alt="shopping"/>
        </div>
    </div>
    
    
    <!--右侧内容开始-->
    <div id="product_storyList">
        <div id="product_storyList_top">
            <ul>
                <li>排序方式</li>
                <li><img src="images/dd_arrow_right.gif" alt="arrow"/></li>
                <li>
                    <select id="compositor">
                    <option>按销量 降序</option>
                    <option>按价格 升序</option>
                    <option>按价格 降序</option>
                    <option>按折扣 升序</option>
                    <option>按折扣 降序</option>
                    <option>按出版时间 升序</option>
                    <option>按出版时间 降序</option>
                    <option>按上架时间 升序</option>
                    <option>按上架时间 降序</option>
                    </select>
                </li>
                <li><img src="images/product_icon_01.gif" alt="icon"/></li>
                <li><img src="images/product_icon_02.gif" alt="icon"/></li>
                <li><img src="images/product_icon_03.gif" alt="icon"/></li>
                <li><img src="images/product_icon_04.gif" alt="icon"/></li>
                <li>每页显示的数量</li>
                <li><img src="images/dd_arrow_right.gif" alt="arrow"/></li>
                <li><img src="images/product_icon_20.gif" alt="icon"/></li>
                <li><img src="images/product_icon_40.gif" alt="icon"/></li>
                <li style="float:right; padding-right:10px;"><img src="images/product_page_down.gif" alt="icon"/></li>
                <li style="float:right;">第1页</li>
                <li style="float:right;"><img src="images/product_page_up.gif" alt="icon"/></li>
            </ul>
        </div>
        <div id="product_array">
            <a class="click" name="array"  href="javascript:void(0)">列表</a>
            <a name="bigImg" href="javascript:void(0)">大图</a>
        </div>
        <!--图书排列开始-->
        <div id="product_storyList_content" class="product_storyList_content">
            <div id="storyBooksssss"><!--使用javaScript显示图书列表--></div>
            <!--列表开始-->
            <div th:each="a : ${book}">
            <div class="product_storyList_content_left"><img height="90px" width="90px" th:src="${a.bImage1}" alt="图书列表"/></div>
            <div class="product_storyList_content_right">

<!--                 <ul th:each="a : ${book}" >
                    <li class="product_storyList_content_dash"><a href="#" class="blue_14" th:text="${book.bName}">私募（首部披露资本博弈秘密的金融小说）</a></li>
 -->

                <!-- <ul th:each="a : ${book}" >
                    <li class="product_storyList_content_dash" th:text="${a.bName}"><a href="#" class="blue_14"  >私募（首部披露资本博弈秘密的金融小说）</a></li> -->

                <ul>
                    <li class="product_storyList_content_dash"><a href="#" class="blue_14" th:text="${a.bName}">私募（首部披露资本博弈秘密的金融小说）</a></li>

                    <li>顾客评分：<img src="images/star_red.gif" alt="star"/><img src="images/star_red.gif" alt="star"/><img src="images/star_red.gif" alt="star"/><img src="images/star_red.gif" alt="star"/><img src="images/star_gray.gif" alt="star"/></li>
                    <li>作　者：<a href="#" class="blue_14" th:text="${a.bAuthor}">郭现杰</a> 著</li>
                    <li>出版社：<a href="#" class="blue_14" th:text="${a.bPublisher}">花山文艺出版社</a></li>
                    <li>出版时间：<a href="#" class="blue_14">2009年08月</a></li>
                    <li><a href="#" class="blue_14" th:text="${a.bMark}">数年前，在一次股市的多、空之战中，以赵云狄、林康为首的私募基金―金鼎投资，和以王雨龙为首的私募基金，达成锁仓协议分食利益。殊料，以王雨龙为首的私募基金―鑫利投资背信弃义，导致金鼎投资惨败。以至...</a></li>
                    <li>
                        <dl class="product_content_dd">
                            <dd><img th:href='shopping.html' src="images/product_buy_02.gif" alt="shopping"/></dd>
                            <dd ><a  href="shopping.html" target="_parent"><img  src="images/product_buy_01.gif" alt="shopping"/></a> </dd>
                            <dd>节省：<a th:text="${#numbers.formatDecimal(a.bPrice-a.bPrice*0.59,1,2)}">￥13.10</a></dd>
                            <dd>折扣：<span>59折</span></dd>
                            <dd class="footer_dull_red">￥<span th:text="${#numbers.formatDecimal(a.bPrice*0.59,1,2)}">￥18.90</span></dd>
                            <dd class="product_content_delete"><span >￥<span th:text="${a.bPrice}">32.00</span></span></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="product_storyList_content_bottom"></div>
          
           </div>
           <div>
                <dl class="product_content_dd">
                    <dd><img src="images/OK.gif" alt="ok"/></dd>
                    <dd>页</dd>
                    <dd><input name="page" type="text" value="1" style="width:20px;"/></dd>
                    <dd>跳转到第</dd>
                    <dd><img src="images/next.gif" alt="ok"/></dd>
                    <dd>
                        <ul id="product_page">
                            <li><a href="#" class="product_page">1</a></li>
                            <li><a href="#" class="product_page">2</a></li>
                            <li><a href="#" class="product_page">3</a></li>
                            <li> ...</li>
                            <li><a href="#" class="product_page">14</a></li>
                            <li><a href="#" class="product_page">15</a></li>
                            <li><a href="#" class="product_page">16</a></li>
                        </ul>
                    </dd>
                    <dd><img src="images/product_page_up.gif" alt="ok"/></dd>
                </dl>
            </div>
        </div>
    </div>
    <!--右侧内容结束-->
</div>
<script type="text/javascript">
var vue = new Vue({
	el : "#main",
	created: function(){
		this.show();
	},
	methods : {
		show(){
			var  id = location.hash.substring(1) ;
			var params = new URLSearchParams();				
			params.append('cid', id);
			params.append('page',this.currentPage);
			params.append('op', 'FYquery');		
			axios.post('ProductServlet.do', params).then( res =>{
				this.list1=res.data.list;
				this.pagesCount=res.data.pages;
			});	
		}
	}
});
</script>


<!--网站版权部分开始-->
<div id="footer">
    <div class="footer_top"><a href="#" target="_parent" class="footer_dull_red">公司简介</a> | <a href="#" target="_parent" class="footer_dull_red">诚证英才</a> | <a href="#" target="_parent" class="footer_dull_red">网站联盟</a> | <a href="#" target="_parent" class="footer_dull_red">百货招商</a> | <a href="#" target="_parent" class="footer_dull_red">交易条款</a></div>
    <iframe th:replace="footer.html" height="50px" width="900px" frameborder="0"></iframe>
</div>
</body>
</html>
